<mat-toolbar class="sticky top-0 z-50">
  <div class="w-full flex flex-row items-center justify-between">
    <span (click)="goTo('dashboard')">JZP Beta</span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        *ngFor="let menu of listMenu"
        mat-menu-item
        (click)="goTo(menu.url)"
      >
        <span>{{ menu.label }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
