<div class="bg-gray-50 p-4 rounded-lg shadow-md space-y-4 m-4">
  <btn full>Start Practice</btn>
  <div class="mt-4">
    <btn full (click)="openFilter()">Filter Kanji</btn>
  </div>
  <div class="bg-gray-50 p-4 rounded-lg shadow-md space-y-4 my-4">
    <ct size="ch">Radicals</ct>
    <div>
      <div class="flex flex-wrap gap-4 my-3">
        <kanji-box
          *ngFor="let kanji of listRadicals"
          [meaning]="kanji.meaning"
          [type]="kanji.type"
          [isMinimize]="!payload.isMaximized"
          (click)="getDetail('亅')"
          >{{ kanji.char }}</kanji-box
        >
      </div>
    </div>
    <ct size="ch">Kanji</ct>
    <div>
      <div class="flex flex-wrap gap-4 my-3">
        <kanji-box
          *ngFor="let kanji of listKanji"
          [hiragana]="kanji.hiragana"
          [meaning]="kanji.meaning"
          [type]="kanji.type"
          [isMinimize]="!payload.isMaximized"
          (click)="getDetail('争')"
          >{{ kanji.char }}</kanji-box
        >
      </div>
    </div>
    <ct size="ch">Vocabulary</ct>
    <div>
      <div class="flex flex-col gap-y-3">
        <vocab-box
          *ngFor="let kanji of listVocab"
          [hiragana]="kanji.hiragana"
          [meaning]="kanji.meaning"
          [type]="kanji.type"
          [isMinimize]="!payload.isMaximized"
          (click)="getDetail('競争')"
          >{{ kanji.char }}</vocab-box
        >
      </div>
    </div>
  </div>
</div>
